<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169811765045-nnhi0iue3t326dfpfudk43ubjs7ek1m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169811765045-nnhi0iue3t326dfpfudk43ubjs7ek1m8</string>
	<key>API_KEY</key>
	<string>AIzaSyCleNHGB_E0R92U00KW7LCFtnBTW5bup5g</string>
	<key>GCM_SENDER_ID</key>
	<string>169811765045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BenCompony.Keep2gather</string>
	<key>PROJECT_ID</key>
	<string>keep-2gather-77767</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-2gather-77767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169811765045:ios:6fcc455e6da8ba0a664e7c</string>
</dict>
</plist>